{# 회원가입 폼 #}
{% extends 'layout.html' %} 

{% block content %} 

<div class="timeline">
    <form id="join-form" action="/auth/join" method="post">
        <div class="input-group">
            <label for="join-email">이메일</label>
            <input id="join-email" type="email" name="email">
        </div>
        <div class="input-group">
            <label for="join-nick">닉네임</label>
            <input id="join-nick" type="text" name="nick">
        </div>
        <div class="input-group">
            <label for="join-password">비밀번호</label>
            <input id="join-password" type="password" name="password">
        </div>
        <div class="input-group">
            <label for="join-pwcheck">비밀번호 확인</label>
            <input id="join-pwcheck" type="password" name="pwcheck"> 
            
        </div>
        
        <button id="join-btn" type="submit" onclick = "test()" class="btn">회원가입</button>
    </form>
</div>
{% endblock %} 

{% block script %} 
    <script type="text/javascript">
        function test() {
          var p1 = document.getElementById('join-password').value;
          var p2 = document.getElementById('join-pwcheck').value;
          if( p1 != p2 ) {
            alert("비밀번호가 일치 하지 않습니다!");
            
            return false;
          } 
        }
        window.onload = () => {
            if(new URL(location.href).searchParams.get('error')){
                alert('이미 존재하는 이메일입니다.');
            }
        };
    </script>


{% endblock %}