{# weather 화면 #}
{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
        <div class="weatherBox">
            <p>{{today}}</p>
            <p>최저 {{minTemp}}C 최고 {{maxTemp}}C</p>
            <form action = "/weather ">
                <select name = "area">
                    <option disabled selected>서울시 {{area}}</option>
                   <option value="성북구">서울시 성북구</option>
                   <option value="강남구">서울시 강남구</option>
                   <option value = "강동구">서울시 강동구</option>
                   <option value = "관악구">서울시 관악구</option>
                   <option value = "강진구">서울시 강진구</option>
                   <option value = "구로구">서울시 구로구</option>
                   <option value = "금천구">서울시 금천구</option>
                   <option value = "노원구">서울시 노원구</option>
                   <option value = "도봉구">서울시 도봉구</option>
                   <option value = "동대문구">서울시 동대문구</option>
                   <option value = "동작구">서울시 동작구</option>
                   <option value = "마포구">서울시 마포구</option>
                   <option value = "서대문구">서울시 서대문구</option>
                   <option value = "서초구">서울시 서초구</option>
                   <option value = "성동구">서울시 성동구</option>
                   <option value = "송파구">서울시 송파구</option>
                   <option value = "양천구">서울시 양천구</option>
                   <option value = "영등포구">서울시 영등포구</option>
                   <option value = "용산구">서울시 용산구</option>
                   <option value = "은평구">서울시 은평구</option>
                   <option value = "종로구">서울시 종로구</option>
                   <option value = "중랑구">서울시 중랑구</option>
                   <option value = "중구">서울시 중구</option>

                </select><button type="submit" onClick="window.location.replace()">검색</button>
             </form>
        </div>
        <div class="weatherBox">
            <p>{{now}} 기준</p>
            <h2>{{nowTemp}}C</h2>
            <h2>{{sky}}</h2>
        </div>
    </div>

    <div class="timeline">
        {# 2. 모든 사람에게 보여줌 #}
        <div class="twits">
            <form id="hashtag-form" action="/weather/hashtag">
                <input type="text" name="hashtag" placeholder="태그 검색"> {# req.query.hashtag #}
                <button class="btn">검색</button>
            </form>
        {% for twit in twits %} {# 렌더링 시 twits 배열 안의 요소들을 읽어서 게시글로 만듦 #}
            <div class="twit">
                <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
                <input type="hidden" value="{{twit.id}}" class="twit-id">
                <div class="twit-author">{{twit.User.nick}}</div>
                {# followerIdList: routes/page.js에서 res.locals에서 넣은 변수 #}
                {% if not followerIdList.includes(twit.User.id) and twit.User.id !== user.id %} {# 작성자를 제외하고, 나의 팔로워 아이디 목록에 작성자의 아이디가 없으면 팔로우 버튼을 보여주기 위함 #}
                <button class="twit-follow">팔로우하기</button> {# 아래의 js 코드가 class 명(twit-follow)으로 동작 실행 #}
                {% endif %}
                <div class="twit-content">{{twit.content}}</div>
                {% if twit.img %} 
                    <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
                {% endif %}
                {# <button class="twit-remove">삭제하기</button> #}
                {% if user.id == twit.User.id %}
                <div id="twit-remove" onClick='removePost({{twit.User.id}}, {{twit.id}}, {{user.id}})' class="btn">삭제하기</div> 
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %} 